body
{
	font-family: 'Roboto', sans-serif;
	margin-top:15px;
	font-size: medium;
}


h3
{
	color: maroon;
	font-weight:bold;
}


.bodytext
{
	padding:15px;
	color: #8B8C8F;
}


/* Top nav */

nav .row {
	margin-top:10px;
    background-color: maroon;
	font-weight:bold;
}

nav .row div {
	text-align:center;
    border-right: 2px solid white;
	
	padding-right: 0;
    padding-left: 0;
	
	white-space: nowrap;

}



nav .row div:last-child {
    border-right: none;
	border-left: 0px solid white;
}

nav a, nav a:link, nav a:visited, nav a:active
{
	text-decoration: none;
	color: white;
	font-size: 120%;
}

nav a, .nav-placeholder {
	display:block;
	padding:16px;
}

nav a:hover:not(.active) {
    background-color: #F0CB02;
}
nav .active {
    background-color: #F0CB02;
}




/* Important dates bar */

.important_dates .col-sm-3
{
	padding-right: 0px;
    padding-left: 0px;
}

.important_dates
{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	font-weight:bold;
	color:white;
}

.important_dates .titleblock
{
	padding-top:22px;
	background-color:maroon;
	font-size:120%;
	font-size:22px;
}

.important_dates .dateblock
{
	float:left;
	background-color:maroon;
	width:63px;
	padding: 7px;
	margin-right:8px;
}
.important_dates .date_month
{
	color: #F0CB02;
	font-size:18px;
	line-height:100%;
	
}
.important_dates .date_date
{
	color: #F0CB02;
	font-size:32px;
    line-height: 85%;
	padding-bottom:1px;
	font-weight:900;
}
.important_dates .date_year
{
	font-size:16px;
	line-height:100%;
}

.important_dates .dateinfoblock
{
	background-color:#F0CB02;
	color:maroon;
	text-align:left;
	padding-left:7px;
	
	white-space: nowrap;
	overflow: hidden;
	
	/*Change these if different event text doesnt fit*/
	letter-spacing: 1px;
	font-weight:700;
	padding-top:13px;
	line-height:120%;
	font-size:20px;
}

.important_dates .titleblock, .important_dates .dateinfoblock, .important_dates .dateblock
{
	height:100%;
}

.date_spacer
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-left: 10px;
	height:95px;

}

.important_dates div:not(:first-child):not(:last-child) .date_spacer
{
	border-right: 2px dashed #c3c3c3;
}
.important_dates div:first-child .date_spacer
{
	margin-left:0px;
}
.important_dates div:last-child .date_spacer
{
	padding-right:0px;
}


/* Application requirements*/

h4.appreq_header
{
	width: 312px;
	height: 65px;
	background-image: url("../img/banner_bg.png");
	color:white;
	padding: 15px;
	margin-top:0px;

}

ul.appreq {
	list-style: none;
	padding-left:10px;
	padding-right:10px;
	color: #8B8C8F;
}

ul.appreq li {
	background: url("/resource/SiteTemplate/SiteTemplate/img/bullet.png") no-repeat left 5px;
	
    padding-left: 1.2em;
	margin-top:10px;
	padding-bottom:10px;
	
	border:none;
	border-bottom: 2px dashed #c3c3c3;
}
ul.appreq li:last-child 
{
	border:none;
}



/* Footer */

.contactbar {
	color: white;
    background-color: maroon;
	font-weight:bold;
	text-align:center;
	font-size: 120%;
}

.contactbar div {

	margin-top:10px;
	margin-bottom:10px;
	padding-top:5px;
	padding-bottom:5px;
    border-right: 2px solid white;
	
}

.contactbar div:last-child {
    border-right: none;
}


.highlight_gold
{
	color: #F0CB02;
}


.social_links
{
	float:right;
	margin-top:5px;
	margin-bottom: 5px;
}

.social_links span
{
	padding-left:3px;
	white-space: nowrap;
}



a.emaillink:link, a.emaillink:visited, a.emaillink:active
{
	font-weight:bold;
	color: maroon;
}
a.emaillink:hover
{
	color:#F0CB02;
}



/* Hide borders and other improvements on smaller devices (md)*/

@media (max-width: 991px)  and (min-width: 768px) {

	/*override bootstrap when text is longer than column*/
	nav .longtext 
	{
		width:auto;
	}
	
	nav .row div:last-child {
		margin-left:-35px;
	}
	
}

/* (sm) */
@media (max-width: 767px) {

	nav a {
		padding: 5px;
	}
	.contactbar div {
		margin-top: 0;
		margin-bottom: 0;
    }
	

	nav .row div, nav .row div:last-child,.contactbar div {
		border: none;
	}

	nav .row div
	{
		border-bottom: 1px solid white;
	}

	.date_spacer
	{
		border-right: none !important;
	}
	.important_dates div:first-child .date_spacer
	{
		margin-left:10px;
	}
	.important_dates div:last-child .date_spacer
	{
		padding-right:10px;
	}
	

}



