/*=====Basic CSS==============================================================*/

body {
	font-family: 'Roboto', sans-serif;
	margin-top:15px;
	font-size: medium;
}

h3 {
	margin-top:4px;
	font-weight:800;
}

a:link, a:visited, a:active {
    color: #840029;
	text-decoration: underline;
}

a:hover {
    color: #F0CB02;
}


/*=====Header nav=============================================================*/

nav .navcontainer {
	margin-top:10px;
	margin-bottom:15px;
    color: #840029;
	font-weight:bold;
	font-size:95%;
}

nav .navcontainer div {
	padding-right: 0;
    padding-left: 0;
	white-space: nowrap;
}

nav .navinner {
	margin-top:20px;
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px dashed #c3c3c3;
    border-bottom: 1px dashed #c3c3c3;
}

nav .navinner a {
	padding-left: 10px;
	padding-right: 10px;
}

nav a, nav a:link, nav a:visited, nav a:active {
	text-decoration: none;
	color: #840029;
	font-size: 120%;
}


/*=====Footer bar=============================================================*/

.contactbar {
	color: white;
    background-color: #840029;
	font-weight:bold;
	text-align:center;
	font-size: 110%;
	border-top: 5px solid #F0CB02;
}

.contactbar div {
	padding-top:7px;
	padding-bottom:3px;
	margin-bottom:3px;
    border-right: 2px solid white;
}

.contactbar div:last-child {
    border-right: none;
}

.social_links {
	float:right;
	margin-top:6px;
	margin-bottom: 10px;
	margin-right: -15px;
	
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bold;
	font-size:110%;
	letter-spacing: 1px;
	color: #840029;
}

.social_links span {
	padding-left:18px;
	white-space: nowrap;
}

.social_links span img {
	height: 19px;
	margin-top: -4px;
}

.emailtitle {
	color: #CEC397;
}

a.emaillink {
    text-decoration: none;
}

a.emaillink:hover {
	color: #CEC397;
    text-decoration: underline;
}

.highlight_gold {
	color: #CEC397;
}


/*=====Homepage/Widgets=======================================================*/

/* Left: about us (.about_Walsh image on top, .aboutus below */

.leftcolumn {
	margin-left:-15px;
}

.vcenter {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.aboutus {
	background-color:#840029;
	color:white;
	font-family: 'Didact Gothic', sans-serif;
	font-size:90%;
	font-weight:bold;
	border-top: 6px solid #F0CB00;
	margin-left:24px;
	margin-right:15px;
	margin-bottom: 20px;
	max-width:566px;
	padding:10px;
	padding-bottom:20px;
}

.aboutus h3 {
	color:white;
}


/* Middle: app requirements, visit video box, and buttons */

h4.appreq_header, nav.erx-checklist .checklist-title {
	width: 277px;
	height: 58px;
	background-image: url("../img/banner_title.png");
    background-repeat: no-repeat;
	color:white;
	padding: 12px;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:bold;
	font-size:18px;
}

ul.appreq, nav.erx-checklist ul.erx-checklist-ul {
	list-style: none;
	padding-left:10px;
	padding-right:10px;
	color: #840029;
	font-family: 'Didact Gothic', sans-serif;
	font-size:110%;
	font-weight:bold;
}

nav.erx-checklist ul.erx-checklist-ul li, 
 nav.erx-checklist ul.erx-checklist-ul li a, 
 nav.erx-checklist ul.erx-checklist-ul li span { 
	font-size:110% !important;
}

ul.appreq li, nav.erx-checklist ul.erx-checklist-ul li {
	margin-top:3px;
	padding-bottom:3px;
	border:none;
	border-bottom: 1px dashed #c3c3c3;
	margin-left:0px; 
	margin-bottom:3px;
}

ul.appreq li:last-child {
	border:none;
}

nav.erx-checklist ul.erx-checklist-ul li i:before {
	content: none;
}

ul.appreq li.complete, 
 nav.erx-checklist li.erx-checklist-li .fa-check-square-o + span {
	text-decoration: line-through;
}

erx-checklist {
	width: 80%; 
	display:inline-block;
}


.actionbox{
	width:212px;
	height:120px;
	background-image: url("../img/actionbox.png");
	
	padding-top:38px;
	padding-left:20px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bold;
	font-size:110%;
	letter-spacing: 1px;
	color: #840029; 
	background-repeat: no-repeat;
}


.actionvideo {
	margin-top: 8px;
	margin-left:0px;
	background-image: url("../img/video_play.png");
	background-repeat: no-repeat;
	height:185px;
	width:269px;
	
}
.actionvideo:hover {
	background-image: url("../img/video_play_hover.png");	
}

/* Preload hoverover*/
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
   content:url("../img/video_play_hover.png");
}


.actionbutton {
	margin-top:9px;
	margin-bottom:9px;
	height:28px;
	width:133px;
	background-color: #840029;
    background-repeat: no-repeat;
	
	padding:5px;
	color: white;
	font-weight:bold;
	font-size:80%;
}

.actionbutton.bg1 {
	background-image: url("../img/button1.png");
}

.actionbutton.bg2 {
	background-image: url("../img/button2.png");
}


/* Right: application status */
.astat {	
	clear:both;	overflow:hidden; margin-top: 6px; width:100%;
}
.astat_created, .astat_started, .astat_submitted, .astat_reviewed {	
	background-color:#ede6d4; 
	background-size: cover; 
	width: 47px;	
	height: 43px;	
	float:left;
}
.astat_created {	
	background-image: url("../img/status_created.png");
}
.astat_active .astat_created {	
	background-image: url("../img/status_created_active.png");
}
.astat_started {	
	background-image: url("../img/status_started.png");
}
.astat_active .astat_started {	
	background-image: url("../img/status_started_active.png");
}
.astat_submitted {	
	background-image: url("../img/status_submitted.png");
}
.astat_active .astat_submitted {	
	background-image: url("../img/status_submitted_active.png");
}
.astat_reviewed {	
	background-image: url("../img/status_reviewed.png");
}
.astat_active .astat_reviewed {	
	background-image: url("../img/status_reviewed_active.png");
}
.astat_text{
	color: white; 
	font-weight: bold; 
	background-color: #ede6d4; 
	color: #666666; 
	margin-top:3px;	
	margin-bottom:3px; 
	padding-left:54px; 
	height: 37px;
	line-height: 37px; 
	display:block; 
	font-size: 13px;
}
.astat_active .astat_text{
	background-color: #880127; 
	color:white;
}

.statusbox { 
	width:100%; 
	height:100%; 
	background: url(../img/statuswidget-bg.png) left top no-repeat; 
	background-size:100% 100%; 
	padding: 20px;
}
.statusbox h2 {
	font-family: 'Didact Gothic', sans-serif; 
	font-weight: bold; 
	font-size: 110%; 
	letter-spacing: 1px; 
	color: #840029; 
	padding: 0px; 
	margin: 0 0 15px 0; 
	display: block;
}


/* ERX container fix */
div#erx-content { 
	margin:0px -30px !important;
}

.widget-content{
	float: left; 
	width: 100%;
}


/*=====Login Template=========================================================*/

.beforelogin footer {
	margin-top: 15px;
}

/* ERX login form */
.slds-form-element {
	display: inline-block; 
	width: 100%; 
	margin-bottom: 15px;
}
.slds-form-element .slds-form-element__label, .RegisterPageLabelStyle {
	color: var(--theme-form-text-color); 
	font-family: var(--theme-font); 
	font-weight: 600; 
	width: 100%; 
	display: inline-block; 
	margin-bottom:5px;
}
.slds-form-element .slds-input, .RegisterPageInputTextStyle {
	height:42px; 
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border: solid 1px #d7dde2; 
	display: inline-block;
	width: 100%; 
	padding-left:12px; 
	padding-right:12px; 
	font-size:15px;
}
.btn_login {
	float: right;
}
.btn_login + a {
	margin-top: 10px;  
	display: inline-block;
}

.slds-button--brand, .slds-button--neutral, 
 b.forgotPasswordLinkStyle, 
 b.slds-truncatem .slds .slds-button--brand, 
 .slds .slds-button--brand, 
 b.slds-truncate
{
	color: white;  
	background: #840029; 
	text-transform: uppercase; 
	border: 0px; 
	padding: 0px 20px; 
	display: inline-block; 
	font-weight: 500; 
	height:42px; 
	line-height:42px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	-ms-border-radius: 4px;
	border-radius:4px; 
	text-align:center;
}

.slds-button--brand:hover, 
 .slds-button--neutral:hover, 
 b.forgotPasswordLinkStyle:hover, 
 b.slds-truncatem .slds .slds-button--brand:hover, 
 .slds .slds-button:hover, b.slds-truncate:hover
{ 
	color: #F0CB02;
}


/*=====Form pages=============================================================*/

/* Remove gray on Home link */
.navinner .active {
	background-color:white;
}

/* Style forms */
.slds {
  color: black;
}              
.slds .slds-form-element__label {
  color: black;
}
.slds .slds-select {
  color: black;
}
.slds .slds-input {
  color: black;
}
.slds .slds-button--brand {
  background-color: #840029;
  border: 1px solid #840029;
}
.slds .slds-button--brand:hover, .slds .slds-button--brand:focus {
  background-color: #840029;
  color: #F0CB02;
}

.slds-form-element .slds-form-element__label, .RegisterPageLabelStyle{
	font-weight: normal;
}

/* Left checklist panel */
nav.navbar {
	border: 1px solid #e7e7e7 !important;
}

/* Data tables */
.slds .slds-text-heading--label {
	background-color:#840029;
}
th {
	color:white;
}


/* ERX */

#outerMainDiv .navigation-progess-bar-div {
	padding: 0; 
	width:280px;
}
#outerMainDiv .main-form-div {
	width: calc(100% - 280px); 
	padding: 0px 0 0 20px; 
	margin: 0px;
}

.navigation-progess-bar-div #left {
	padding-left: 6px;
}


/*=====Adjustments by screensize==============================================*/

/* Bootstrap:Large Devices, Wide Screens */
@media (max-width: 1200px){
	/* Header */
	nav .navinner{
		margin-top:10px;
	}
	
	/* Homepage */
	.aboutus{
		margin-left: 22px;
		margin-right:0px;  
	}
	.about_Walsh_img{ 
		padding-right:0px;
	}
	
	.astat_text {
		padding-left: 52px; 
		font-size: 11px;
		line-height: initial;
		padding-top:6px;
	}
	.statusbox {
		padding: 15px;
	}
	
}

/* Bootstrap:Medium Devices, Desktops */
@media (max-width: 992px){
	/* Header */
	nav .navcontainer{ 
		margin-left:0px; 
		margin-right:0px;
	}

	nav .longtext{
		width:auto;
	}
	nav .row div:last-child {
		margin-left:0px; 
		margin-right:0px;	
	}


	/* ERX */
	div#erx-content{ 
		margin:0px auto !important;
	}

	.after_login .container{ 
		width:100%;
	}

	.navigation-progess-bar-div .navbar-header {
		padding-left: 10px; 
		padding-right: 10px;
	}
	.navigation-progess-bar-div #left {
		width: 28px;
	}
	
	#outerMainDiv .navigation-progess-bar-div {
		width: 100%;
	}
	#outerMainDiv .main-form-div {
		width: 100%;  
		padding: 0; 
		margin: 0px;
	}
	#outerMainDiv .navigation-progess-bar-div button.navbar-toggle {
		text-align: left;
	}	
}

/* Bootstrap:Small Devices, Tablets */
@media (max-width: 768px) {
	/* Footer */
	.contactbar div {
		border: none;
	}
	
	.contactbar div {
		margin-top: 0;
		margin-bottom: 0;
    }

	.social_links{ 
		margin-right:0px; 
		text-align:center;
	}
	footer .row.contactbar{ 
		margin:0px;
	}
	

	/* Homepage */
	.astat_created, .astat_started, .astat_submitted, .astat_reviewed {
		width: 52px; 
		height: 48px;
	}	
	.astat_text {
		padding-left: 60px; 
		font-size: 14px; 
		height: 42px; 
		line-height: 42px;
		padding-top: 0;
	}
	.statusbox {
		background: none; 
		padding: 0; 
		width: 100%; 
		height: 100%;
	}

	.leftcolumn.about_Walsh .about_Walsh_img img, erx-checklist{ 
		width:100%;
	}
	.leftcolumn.about_Walsh .aboutus{ 
		max-width:inherit;
	}
	.walsh-box .actionbox{ 
		background-size: inherit; 
		width:212px; 
		margin-right:15px;
	}
	.walsh-box {    
		display: flex;   
		flex-wrap: wrap;	
	}
	.actionvideo{   
		background-size:inherit; 
		height:205px;
	}

	nav.erx-checklist ul.erx-checklist-ul li a{ 
		padding-left:0px; 
		padding-right:0px;
	}

}

/* Bootstrap:Small Devices, Tablets */
@media (max-width: 480px) {
	/* Header */
	nav a, nav a:link, nav a:visited, nav a:active{
		font-size:110%;
	}
	nav .navinner a {
		padding-left: 5px;
		padding-right: 5px;
	}
}

/*============================================================================*/
